*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-color: rgb(46, 42, 46);
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color: rgb(46, 42, 46);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px solid rgb(255, 0, 255);
}
nav li{
    height: 50px;
    transition: all 0.4s;
}
nav a{
    height: 100%;

    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    
}
.navButton:hover{
    background-color: rgb(255, 132, 255);
    color: rgb(255, 255, 255);
    border-radius: 20px;
}
nav li:first-child{
    margin-right: auto;
}
nav li:first-child img{
    width: 3rem;
    height: 3rem;
    margin: 0 1rem;
    
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 1000;
    background-color: rgba(255, 0, 191, 0.267);
    backdrop-filter: blur(50px);
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.hideOnPC{
        display: none;
    }
@media (max-width: 768px){
    .hideOnMobile{
        display: none;
    }
    .hideOnPC{
        display: block;
    }
}
@media (max-width: 400px){
    .sidebar{
        width: 100%;
    }
}
@media (min-width: 800px){
    
}